/* The sidepanel menu */
.sidepanel {
    height: 250px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #4e6946;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 60px; */
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    text-align: center;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4e6946;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


.input-sidebar {
    width: 80%;
    height: 35px;
    border-style: solid;
    border-width: .5px;
    border-radius: 3px;
    border-color: rgb(202, 202, 202);
    background-color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.button-sidebar {
    border-style: none;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    width: 65%;
    height: 28px;
    font-size: 15px;
    background-color: #7cad6e;
}

#cadastro-sidebar {
    width: 80%;
    background-color: white;
    color: black;
    transition: 0.3s;
    text-align: center;
    border-style: none;
    height: 35px;
    margin-top: 25px;
    border-radius: 3px;
}
#cadastro-sidebar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#cadastro-sidebar a:hover {
    color: #313131;
}
